# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# временные файлы сборки
debug/*
release/*

Matrics_Functions/debug/*
Matrics_Functions/release/*

Matrics_Functions/Matrics_Functions/debug/*
Matrics_Functions/Matrics_Functions/release/*
Matrics_Functions/Matrics_Functions.sdf
Matrics_Functions/ipch/matrics_functions-467c7c99/matrics_functions-af4149d7.ipch
Matrics_Functions/Matrics_Functions.opensdf


###

development/development/debug
development/debug
Development/ipch/development-c7f77981/development-38dd684f.ipch
Development/Development.opensdf
Development/Development.sdf

###


unitTests/unitTests/debug
unitTests/debug
unitTests/unitTests.opensdf
unitTests/unitTests.sdf
unitTests/ipch/unittests-8fd1c8d1/unittests-4cf9b73f.ipch
Matrics_Functions/ipch/matrics_functions-467c7c99/matrix_functions-fd59bc99.ipch
